<div class="container">
  <div class="card border-dark mb-3">
    <div class="card-header h4">
      Weather Look Up
    </div>
    <div class="card-body bg-light">
      <div class="row mt-2">
        <div class="col-sm">
          <label>City</label>
        </div>
        <div class="col-sm">
          <input type="text" name="city" />
        </div>
        <div class="col-sm">
          <label>State</label>
        </div>
        <div class="col-sm">
          <input type="text" name="state" />
        </div>
      </div>

      <div class="row justify-content-end mt-2">
        <button
          id="buttonSerach"
          type="button"
          style="margin:1em"
          class="btn btn-primary"
        >
          Look up
        </button>
      </div>
    </div>
  </div>
</div>
