.container-xl {
  margin-top: 3em;
}

.card-header {
  color: white;
  background-color: #343a40;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
  font-size: 15px;
}

.center {
  margin: 0 auto;
}
