<div class="container-xl" style="max-width: 55em;">
  <div class="card border-dark mb-3">
    <div class="card-header h4">
      Weather Search
    </div>

    <div class="card-body bg-light" style="min-height: 25em;">
      <div class="container-fluid">
        <div class="row mt-2">
          <div class="col-sm" style="display: flex; justify-content: center;">
            <label>City:
              <input [(ngModel)]="city" type="text" name="city" style="margin-top: 3px" />
            </label>
          </div>

          <div class="col-sm" style="display: flex; justify-content: center;">
            <label>State:
              <input [(ngModel)]="state" type="text" name="state" style="margin-top: 3px"/>
            </label>
          </div>

          <div class="col-sm" style="display: flex; justify-content: center;">
            <button (click)="getWeather()" id="buttonSerach" type="button"
                    style="margin:0" class="btn btn-primary">Look up
            </button>
          </div>
        </div>

        <div class="card text-white bg-dark mb-3 center" style="max-width: 50em; margin-top: 25px" *ngIf="showWeatherData">
          <div class="card-header center">
            Weather in {{ location }}
          </div>

          <div class="card-body">
            <table class="table table-dark">
              <tbody>
                <tr>
                  <td>Temperature</td>
                  <td>{{ currentWeather.temp }} °F</td>
                </tr>
                <tr>
                  <td>Feels Like</td>
                  <td>{{ currentWeather.feels_like }} °F</td>
                </tr>
                <tr>
                  <td>Minimum Temperature</td>
                  <td>{{ currentWeather.temp_min }} °F</td>
                </tr>
                <tr>
                  <td>Maximum Temperature</td>
                  <td>{{ currentWeather.temp_max }} °F</td>
                </tr>
                <tr>
                  <td>Pressure</td>
                  <td>{{ currentWeather.pressure }} hPa</td>
                </tr>
                <tr>
                  <td>Humidity</td>
                  <td>{{ currentWeather.humidity }}%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
